<div class="sidebar-wrapper">
    <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="menu"
            data-accordion="false">
            <li class="nav-item">
                <a href="./Home" class="nav-link active">
                    <i class="nav-icon bi bi-palette"></i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="./MyFiles" class="nav-link">
                    <i class="nav-icon bi bi-palette"></i>
                    <p>My Files</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="./Shared" class="nav-link">
                    <i class="nav-icon bi bi-palette"></i>
                    <p>Shared</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>
                        Master
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="./Bucket" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Bucket</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>
                        Transaksi
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="./Upload" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>List Upload</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--end::Sidebar Menu-->
    </nav>
</div>